<style>
  :root {
    --white: #FFFFFF;
    --black: #000000;
    --primary: #3498db;
    --primary-dark: #2980b9;
    --disabled: #505050;
    --success: #2ecc71;
    --danger: #e74c3c;
  }

  body {
    font-family: monospace;
    color: var(--white);
    background-color: var(--black);
  }

  .button {
    font-family: monospace;
    background-color: var(--primary);
    color: var(--black);
    border: 2px solid var(--primary-dark);
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    width: 100%;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button:hover:not(:disabled) {
    background-color: var(--primary-dark);
    color: var(--white);
  }

  .button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    border-color: var(--disabled);
    color: var(--black);
    background-color: var(--disabled);
  }

  select {
    font-family: monospace;
    padding: 12px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 1rem;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  input[type="number"] {
    font-family: monospace;
    font-size: 16px;
    margin-bottom: 1rem;
    padding: 12px;
    width: calc(100% - 27px);
  }

  label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  main {
    max-width: 720px;
    margin: auto;
    padding-top: 20px;
  }

  h1 {
    text-align: center;
  }

  ol {
    padding-left: 0;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  ul>li {
    padding: 1rem;
  }

  .btn-container {
    display: flex;
    justify-content: center;
  }

  .correct {
    background-color: var(--success);
    color: var(--black)
  }

  .hide {
    display: none;
  }

  .feedback {
    font-size: large;
    font-weight: bold;
    text-align: center;
  }

  .feedback:empty::before {
    content: "";
    display: inline-block;
  }

  .incorrect {
    background-color: var(--danger);
    color: var(--white);
  }

  .unanswered {
    cursor: pointer;
  }

  .unanswered:hover {
    border: 1px solid var(--white);
    background-color: var(--primary-dark);
  }

  #score {
    text-align: center;
  }
</style>