<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <title>Trivia: Admin</title>
  {{template "_styles.html"}}
</head>
<body>
  <main>
    <h1>Log In</h1>
    <form method="POST">
      {{if .Errors._nonFieldErrors}}
      <ul>
        {{range .Errors._nonFieldErrors}}
        <li>{{.Error}}</li>
        {{end}}
      </ul>
      {{end}}
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
      </div>
      {{if .Errors.username}}
      <ul>
        {{range .Errors.username}}
        <li>{{.Error}}</li>
        {{end}}
      </ul>
      {{end}}
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      {{if .Errors.password}}
      <ul>
        {{range .Errors.password}}
        <li>{{.Error}}</li>
        {{end}}
      </ul>
      {{end}}
      <button type="submit" class="button">Log in</button>
    </form>
  </main>
</body>
</html>
