<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trivia</title>
  <script defer src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>
  {{template "_styles.html"}}
</head>

<body>
  <main>
    <h1>Trivia</h1>
    <p id="score">Score: <span id="correctCount">0</span>/<span id="count">0</span></p>
    <ol>
      {{range $i, $q := .Values}}
      <li id="question-{{$q.Id}}" value="{{inc $i}}" {{if gt $i 0}}hidden{{end}} data-index="{{$i}}">
        <p>{{$q.Text}}</p>
        <ul>
          {{range .Choices}}
          <li 
            class="unanswered"
            hx-get="/api/answer/?question={{$q.Id}}&answer={{.Id}}"
            hx-target="#question-{{$q.Id}}"
            hx-swap="innerHTML"
            hx-trigger="click"
            tabindex="0"
          >
            {{.Text}}
          </li>
          {{end}}
        </ul>
        <p class="feedback"></p>
      </li>
      {{end}}
    </ol>
    <div class="btn-container">
      <button type="button" class="button" id="next" disabled>Next</button>
    </div>
    <div class="btn-container">
      <button class="button hide" id="play-again">Play again</button>
    </div>
    <div class="btn-container">
      <a href="/" class="button hide" id="options">Change Options</a>
    </div>
  </main>
  <script>
    let count = 0;
    let correctCount = 0;
    document.body.addEventListener('keydown', function(e) {
      if (e.keyCode === 13) {
        e.target.click();
      }
    })
    const numQuestions = document.querySelectorAll('[data-index]').length
    function increment(isCorrect) {
      count++;
      if (isCorrect) {
        correctCount++
      }
      document.getElementById("count").textContent = count;
      document.getElementById("correctCount").textContent = correctCount;
      if (count < numQuestions) {
        document.getElementById('next').disabled = false;
      } else {
        document.getElementById('next').classList.add('hide');
        document.getElementById('play-again').classList.remove('hide');
        document.getElementById('options').classList.remove('hide');
      }
    }
    function showNextQuestion(e) {
      const current = document.querySelector(`[data-index="${count - 1}"]`);
      const next = document.querySelector(`[data-index="${count}"]`);
      if (current && next) {
        current.hidden = true;
        next.hidden = false;
      }
      e.target.disabled = true;
    }
    document.getElementById('next').addEventListener('click', showNextQuestion);
    document.body.addEventListener("correct", () => increment(true));
    document.body.addEventListener("incorrect", () => increment(false));
    document.getElementById('play-again').addEventListener('click', () => window.location.reload());
  </script>
</body>

</html>