<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add a Question</title>
  {{template "_styles.html"}}
</head>

<body>
  <main>
    {{template "_admin_nav.html"}} 
    <h1>Add a Question</h1>
    <form method="POST">
      {{.CsrfField}}
      {{if .Errors._nonFieldErrors}}
      <ul>
        {{range .Errors._nonFieldErrors}}
        <li>{{.}}</li>
        {{end}}
      </ul>
      {{end}}
      <div>
        <label for="question">Question</label>
        <input id="question" type="text" name="question" value="{{.Model.Text}}" required>
        {{if .Errors.question}}
        <ul>
          {{range .Errors.question}}
          <li>{{.}}</li>
          {{end}}
        </ul>
        {{end}}
      </div>
      <div>
        <label for="category">Category</label>
        <select id="category" name="category">
          {{range .Categories}}
          <option value="{{.Id}}">{{.Name}}</option>
          {{end}}
        </select>
      </div>
      {{if .Errors.category}}
      <ul>
        {{range .Errors.category}}
        <li>{{.}}</li>
        {{end}}
      </ul>
      {{end}}
      <div>
        <label for="difficulty">Difficulty</label>
        <select id="difficulty" name="difficulty">
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
        </select>
      </div>
      {{if .Errors.difficulty}}
      <ul>
        {{range .Errors.difficulty}}
        <li>{{.}}</li>
        {{end}}
      </ul>
      {{end}}
      {{if .Errors.choices}}
      <ul>
        {{range .Errors.choices}}
        <li>{{.}}</li>
        {{end}}
      </ul>
      {{end}}
      {{range $i, $c := .Model.Choices}}
        <div>
          <label for="choice-{{$i}}">Choice {{inc $i}}</label>
          <input id="choice-{{$i}}" type="text" name="choices" value="{{$c.Text}}">
          <label for="correct-{{$i}}">Correct</label>
          <input
            id="correct-{{$i}}"
            type="checkbox"
            name="correct"
            value="{{$i}}"
            {{if $c.IsCorrect}}
            checked
            {{end}}
          >
        </div>
      {{end}}
      <button type="submit" class="button">Add</button>
    </form>
  </main>
</body>

</html>